# Propriétaires par défaut
*                                   @BACoul

# Dossiers critiques
/src/digitalmeve/**                 @BACoul
/tests/**                           @BACoul
/.github/workflows/**               @BACoul
/docs/**                            @BACoul
/schemas/**                         @BACoul
