[run]
branch = True
omit =
    # On exclut temporairement les modules à faible couverture
    src/digitalmeve/cli.py
    src/digitalmeve/verifier.py
    src/digitalmeve/embedding_png.py
    src/digitalmeve/utils.py

    # Non essentiels pour le seuil global maintenant
    src/digitalmeve/official_identity.py
    src/digitalmeve/pro_identity.py
    */__init__.py

[report]
show_missing = True
skip_covered = True
