# Fichiers de base
include README.md
include LICENSE
include pyproject.toml

# Schémas, docs et scripts (pour le sdist)
recursive-include schemas *.json
recursive-include docs *.md
recursive-include examples *.sh
